@model CRUD_Student.Models.Students

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Students</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Group" class="control-label"></label>
                <input asp-for="Group" class="form-control" />
                <span asp-validation-for="Group" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RollNumber" class="control-label"></label>
                <input asp-for="RollNumber" class="form-control" />
                <span asp-validation-for="RollNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Absent" class="control-label"></label>
                <div>
                    <input asp-for="Absent" class="form-check-input" />
                    <label class="form-check-label" asp-for="Absent">Absent</label>
                </div>
                <span asp-validation-for="Absent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Present" class="control-label"></label>
                <div>
                    <input asp-for="Present" class="form-check-input" />
                    <label class="form-check-label" asp-for="Present">Present</label>
                </div>
                <span asp-validation-for="Present" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <textarea asp-for="Comment" class="form-control"></textarea>
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShowImage" class="control-label"></label>
                <input type="file" asp-for="ShowImage" class="form-control" />
                <span asp-validation-for="ShowImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
